<%- include('../partials/app_header.ejs') %>
<div class="container">
  futuro editar <br>
  <a href="/period" class="btn btn-secondary">Regresar</a>
</div>
<%- include('../partials/app_footer.ejs') %>